@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #038C7F,#04BFAD,#4db093);
    
}
main{
    background-color: rgb(181, 188, 188);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.733);/*1= andar para o lado ,2= andar para baixo,3=espalhar, 4= quantidade de cor e transparencia*/
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#045d5d ;
    text-align: center;
    text-shadow: 1px 1px 3px #045d5d ;
}
h2{
    color:#21776f ;
}
p {
    text-align: justify;
}