@charset "UTF-8;";

h1{
    font-size: 70px;
    text-align: center;
}

p {
    font-size: 25px;
}

.topnav {
    
    text-indent: 50px;
    overflow: hidden;
    background-color: #333;}
  
  .topnav a {
    float: left;
    color: #0dc7b4;
   
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;}
  
  .topnav a:hover {
    background-color: #0dc7b4;
    color: black;}
  
  .topnav a.active {
    background-color: #0dc7b4;
    color: rgb(26, 25, 25);}