@charset "UTF-8";

.topnav {
   
    text-indent: 20px;
    overflow: hidden;
    background-color: #333;}
  
  .topnav a {
    float: left;
    color: #0dc7b4;
   
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;}
  
  .topnav a:hover {
    background-color: #0dc7b4;
    color: black;}
  
  .topnav a.active {
    background-color: #0dc7b4;
    color: rgb(26, 25, 25);}


audio{
background-color: rgb(11, 93, 194);
}

audio::-webkit-media-controls-enclosure {
    background-color: rgb(11, 194, 163);
}

.menubaixo {
  position: flex;
  width: 600px;
  height: 50px;
  background: #222;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.menubaixo a{
   position: relative;
   display: inline;
   font-size: 1em;
   font-weight: 500;
   color: white;
   text-decoration: none;
   padding: 0 50px;
   z-index: 1;
}

.menubaixo span{
   position: absolute;
   top: 5564px;
   left: 10px;
   width: 130px;
   height: 50px;
   background: linear-gradient(45deg, #4f2d19, #33fffc);
   border-radius: 10px;
   transition: 0.3s;
}

nav a:nth-child(1):hover~span{
left: 35px;}   
nav a:nth-child(2):hover~span{
   left: 180px;}
nav a:nth-child(3):hover~span{
       left: 335px;}
nav a:nth-child(4):hover~span{
            left: 480px;} 
/*Final navibar animation*/



